<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/home/saladino/code/Saladino-R/rails-watch-list/app/assets/images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);">
  <div class="container">
    <h1><strong>My LIST 🎥</strong></h1>
  </div>
</div>

<br>
<ul>
  <% @lists.each do |list| %>
  <li>
    <h3><%= link_to list.name, list_path(list.id) %></h3>
  </li>
  <% end %>
</ul>

<%= link_to 'ADD A NEW LIST', new_list_path, class: 'btn btn-primary' %>
