<h1><%= @list.name %></h1>
<br>

<h2>Description</h2>

<h2><ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= bookmark.comment %>
      <%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
</h2>


<%= link_to 'ADD a movie in your list', new_list_bookmark_path(@list.id), class: 'btn btn-primary' %>
